<!--6-->
<!--<div *ngIf="selectedHero">-->


<!--<h2>{{selectedHero.name | uppercase}} Details</h2>-->
<!--<div><span>id: </span>{{selectedHero.id}}</div>-->

<!--5-->
<!--<div>-->
<!--  <label>name:-->
<!--    <input [(ngModel)]="hero.name" placeholder="name"/>-->
<!--    <input [(ngModel)]="selectedHero.name" placeholder="name"/>-->
<!--  </label>-->
<!--</div>-->
<!---->

<!--</div>-->
<!---->


<!--4-->
<h2>My Heroes</h2>
<ul class="heroes">
  <!--<li *ngFor="let hero of heroes" (click)="onSelect(hero)">-->
  <!--  <span class="badge">{{hero.id}}</span> {{hero.name}}-->
  <!--</li>-->
  <!--7-->
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
  <!---->
</ul>
<!---->

<!--8-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!--represnets whats going on in 6 in a different component you just need some extra things-->